.note{
    position: absolute;
    top: 150px;
    transform: rotate(-30deg);
    width: 250px;
    height: 250px;
    padding: 30px;
    background: #66d900;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: 0.3s;
}

.note:hover{
    transform: rotate(-30deg) translate(-130px, -130px);
    transition: 0.3s;
}

.note-text{
    color: #000;
    font-size: 35px;
}